footer.uk-padding-small
    p.uk-text-small.uk-text-center.
        Inspired by the song &ldquo;Six Days On The Road&rdquo;.#[br]
        Originally performed by
        #[a.uk-text-warning(href='https://www.youtube.com/watch?v=CJYH8ugKw-E') Dave Dudley],
        with excellent covers by
        #[a.uk-text-warning(href='https://www.youtube.com/watch?v=LiQX6FHGs7w') Charlie Pride]
        and
        #[a.uk-text-warning(href='https://www.youtube.com/watch?v=9zrcVFnj5Vc') Sawyer Brown].
        
    p.copyright.uk-text-small.uk-text-center.uk-padding-remove-bottom.
        &copy; 2019 A Anytime Anywhere 24 Hour Truck Repair of Georgia, LLC.
