section#hero
    .uk-cover-container.uk-height-viewport(data-uk-height-viewport)
        img.uk-overflow-hidden(src='assets/images/red-big-rigx1600_1031431486.jpg', data-uk-cover)

        #logo-full.uk-overlay.uk-overlay-primary.uk-grid.uk-position-top-left.uk-transform-origin-top-left
            img.uk-logo(src='/assets/images/logo-full.svg')

        #banner-call.uk-overlay.uk-overlay-default.uk-position-bottom.uk-grid
            div(class='uk-width-1-2@s')
                h2 Make it home tonight...

            div(class='uk-width-1-2@s')
                button.uk-button.uk-button-primary.uk-border-rounded.uk-text-large(
                    href='tel:1-478-994-8554'
                ) Call Now!
