extends templates/layout

block content
    include templates/section/hero.pug
    include templates/section/philosophy.pug
    include templates/section/about.pug
    include templates/section/services.pug
    include templates/section/locations.pug
    include templates/section/contact.pug
