#logo {
    height: 60px;
}

#sidebar {
    img.uk-logo {
        @media screen and (max-width: $breakpoint-xsmall-max) {
            margin-bottom: 1em !important;
        }
    }

    li a {
        @media screen and (max-width: $breakpoint-xsmall-max) {
            font-size: $text-large-font-size;
        }
    }
}
