#logo {
    height: 60px;
}

#phone {
    @media screen and (max-width: $breakpoint-xsmall-max) {
        font-size: $text-small-font-size;
    }
}

#sidebar li a {
    @media screen and (max-width: $breakpoint-xsmall-max) {
        font-size: $text-large-font-size;
    }
}
